@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: aliceblue;
}

#column-2 {
  background: aqua;
}

#column-3 {
  background: aquamarine;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: darkgreen;
  }

  #column-1 {
    background-color: green;
  }

  #column-2 {
    background-color: springgreen ;
  }

  #column-3 {
    background-color: greenyellow ;
  }

  footer {
    background-color: yellowgreen ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: lightpink;
  }

  #column-1 {
    background-color: pink;
  }

  #column-2 {
    background-color: plum;
  }

  #column-3 {
    background-color: palevioletred;
  }

  footer {
    background-color: orchid;
  }
   
}
